/* I. Selectors */
/* Put styles for questions: 1.1, 1.2, 1.3 and 1.4 here */
article {
    margin: 20px 0;
padding: 20px;
border: 1px solid black;
}

.style-me1 {
    color: red;
}

#style-me2 {
    color: blue;
}

#style-me2.style-me1 {
    color: purple;
}
/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styled p {
    background: red;
}

.my-children-are-styled > p {
    background: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box {
    background-color: aqua;
    margin: 10px 10px 8px 8px;
    margin: 200px 200px;
    margin: 20px;
    width: 100px;
    height: 10vh !important;
    border-style: dashed;
    border-style: dotted;
    border-style: solid;
    border-color: purple;
    border-color: lightcoral;
    border-width: 10px, solid;
    box-sizing: border-box;
    box-sizing: inherit;
    overflow:hidden;
    overflow: auto;
    outline: 10px;
    border-radius: 20px;
    border-radius: 50%;
    padding: 25%;
    background-image:url(./assets/images/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute {
    position: absolute;
    top: 0;
    background-color: fuchsia;
    right: 200px;
    left: 300px;
}

.position-relative {
    position: relative;
    background-color: darkorange;
}

.position-sticky {
    position: sticky;
    background-color: gold;
    top: 100px;
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style {
    color: palevioletred;
    font-size: x-large;
    font-size: 100%;
    line-height: 2;
    font-weight:800;
    font-family: "Roboto", sans-serif;
    text-align: end;
    letter-spacing: 1cap;
    word-spacing: 10cap;
    text-transform: lowercase;
    text-decoration:underline;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */
a, a:link {
    color:darkred;
    font-size: xx-large;
    font-weight: 600;
    text-decoration:line-through;
}

a:hover, a:active, a:focus {
    color: black;
    text-decoration:overline;
}

a:visited {
    color:aqua;
    font-style: italic;
}

/* VI. calc() */
/* Put styles for questions 1-3 here */
.calc-style {
    width: 100vw;
    background-color: silver;
    width: calc(100vw - 100px);
}

.fixed-width-col {
    width: 350px;
    display: inline-block;
}

.fluid-col {
    display: inline-block;
    width: calc(100vw- 350px);
    width: 500px;
}